* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    height: 100vh; 
    grid-template-rows: 150px 1fr 150px;
    margin: 0px 400px;
    font-family: 'Alkatra', cursive;
    background-color: rgba(180, 57, 164, 0.582);
  }
  header, footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
  }
  main {
    display: grid;
    grid-template-rows: 4fr 2fr;
    gap: 15px;
    animation: zoomIn 1s ease-in-out;
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .fotos1 {
    display: grid;
    grid-template-areas: 
      "principal secundaria"
      "principal secundaria";
    gap: 150px;
    grid-template-columns: 7fr 6fr;
  }
  .fotos1c {
    grid-area: principal;
    background-image: url(./imagens/img1.jpg);
    background-size: 200px;
    background-size: no-repeat;
    border: 2px solid #b10965; 
    display: flex; 
    justify-content: flex-end;
    align-items: flex-start;
  }

.img__secundaria {
    grid-area: secundaria;
    display: grid;
    grid-template-areas: 
      "img1 img2"
      "img3 img4";
    column-gap: 15px;
    row-gap: 15px;
  }
  
.img__secundaria > * {
    border: 2px solid #102333;}
    
    .img2 {
        background-image: url(./imagens/img2.jpg);
        background-size: cover;
        grid-area: img2;
      }

